* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a{
  text-decoration: none;
}

body{
   background-color:#49e2e6;
   background-color:#FFD369;
}

.container {
  padding: 15px;
  margin: 0 auto;
  width: 1200px;
}

.title{
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
  color: #ffff;
  text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
  margin: 5px;
  font-family: "Sansita Swashed";
}


.title-area{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.logo-image{
  width: 60px;
  height: 60px;
}

.image-wrapper{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #49e2e6;
 border: 3px solid #ffff;
}

.logo-area{
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-area{
  font-family: "Comic Sans MS";
  font-weight: 700;
  color: #ffff;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #49e2e6;
  border: 3px solid #ffff;
}

.category-container{
  background-color: #49e2e6;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #ffff;
}

.category{
  margin: 8px;
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  gap: 3px;
  box-shadow: 0 4px 6px -1px #0000004d, 0 2px 4px -1px #0003, 0 10px 12px -6px #0006;
  border: 1px solid #ffff;
  border-radius: 4px;
}



.category-image{
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.category-imager{
   width: 90px;
  height: 58px;
  border-radius: 4px;
}

.country-image{
   width: 150px;
  height: 100px;
  border-radius: 4px;
}

.country-category{
   margin: 8px;
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  gap: 3px;
  box-shadow: 0 4px 6px -1px #0000004d, 0 2px 4px -1px #0003, 0 10px 12px -6px #0006;
  border: 1px solid #ffff;
  border-radius: 4px;
  background-color: #49e2e6;
}

.country-select{
  border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.accomodation-select{
border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.activeLife-select{
border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.artsAndEntertainment-select{
border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;    
}

.attractionsAndActivities-select{
border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;   
}

.automotive-select{
 border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.beautyAndSpa-select{
 border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;   
}

.businessToBusiness-select{
  border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;   
}

.eatAndDrink-select{
  border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;   
}

.education{
   border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.financialService-select{
 border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.education-select{
   border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369; 
}

.healthAndMedical-select{
   border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;   
}

.homeService-select{
  border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.massMedia-select{
  border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.pet-select{
   border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;
}

.privateCorporations-select{
   border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369; 
}

.professionalServices-select{
  border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369; 
}

.publicServiceAndGovernment-select{
  border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;   
}

.realEstate-select{
border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369; 
}  

.religiousOrganization-select{
border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369; }

.retail-select{
border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;  
}

.travel-select{
border-radius: 5px;
border: none;
text-align: center;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
background-color: #FFD369;    
}



.category-select{
border-radius: 5px;
border: none;
padding: 5px;
font-weight:700;
font-family: 'Comic Sans MS';
width: 260px;
height: 20px;
border: 1px solid #ffff;
color: #49e2e6;
}


.intro-image-area{
  background-color: #49e2e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 20px;
  border: 3px solid #ffff;
}

.intro-image{
  width:500px;
  height:500px;
  border-radius: 50%;
  margin: 15px;
  border: 2px solid #ffff;
}


.place-select-label{
 font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: #FFD369;
  text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
}

.country-select-label{
 font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: #FFD369;
  text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
}

.navArea{
   display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.navCover{
  padding: 30px;
  background-color: #49e2e6;
  border: 3px solid #ffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:10px;
}

.sunAnimation{
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.nav-item{
  font-family: 'Comic Sans MS';
  background-color: #FFD369;
  border: 1px solid #ffff;
color: #ffff;
padding: 10px;
border-radius: 10px;
font-weight: 700;
display: block;
text-shadow: 3px 3px 20px #721111, 5px 5px 5px #000;
}

.nav-item:hover{
  background-color:#49e2e6;
  color: #FFD369;
}

.info-area{
  display: flex;
  flex-direction: column;
}





.place-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-details{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
width: 1200px;
height: 500px;
border: 1px solid #721111;
padding: 20px;
background-color: #f1dbba;
margin: 20px auto;
border-radius: 30px;
}

.place-details-after{
  height: fit-content;
}

.place-info-title{
  font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: rgb(114, 17, 17); 
}

.place-table-wrapper{
 display: flex;
 flex-direction: column;
 gap:10px;
justify-content: center;
align-items: center;
width: 100%;
height: 100%; 
font-family: 'Comic Sans MS';
font-size: 15px;
font-weight: 700;
color: #721111;
}


.place-alt-link{
  background-color: rgb(240, 164, 65);
  color: #721111;
  border: 1px solid #721111;
  padding: 20px;
  border-radius: 20px;
}

.place-alt-link:hover{
  background-color: #721111;
  color: rgb(240, 164, 65);
}

.api-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-details{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
width: 1200px;
height: 500px;
border: 1px solid #721111;
padding: 20px;
background-color: #f1dbba;
margin: 20px auto;
border-radius: 30px;
}

.api-info-title{
  font-family: 'Sacramento';
  font-size: 35px;
  font-weight: 700;
  color: rgb(114, 17, 17); 
}

.api-table-wrapper{
 display: flex;
 flex-direction: column;
 gap:30px;
justify-content: center;
align-items: center;
width: 100%;
height: 100%; 
font-family: 'Comic Sans MS';
font-size: 15px;
font-weight: 700;
color: #721111;
}

.api-gen-table-wrapper{
  display: flex;
 flex-direction: column;
 gap:10px;
justify-content: center;
align-items: center;
}

.api-view-table-wrapper{
  display: flex;
 flex-direction: column;
 gap:10px;
justify-content: center;
align-items: center;
}

.api-use-table-wrapper{
  display: flex;
 flex-direction: column;
 gap:10px;
justify-content: center;
align-items: center;
}

.image-gallery-wrapper{
display: flex;
justify-content: center;
align-items: center;
}

.image-gallery{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap:15px;
}
